html, body {
    font-family: 'Alegreya Sans', 'sans-serif';
    font-weight: 300;
}

body {
    background: url('/img/home_bg.png') repeat-x top #00a0b0;
}

h1, h3 {
    font-family: 'Bitter', 'serif';
}
h1 {
    font-weight: 400;
}
#front h1,
#top h1 {
    font-size: 105px;
    color: #fff;
    margin: 0;
}
h2 {
    font-family: 'Alegreya Sans', 'sans-serif';
    font-weight: 100;
    font-size: 60px;
    color: #000;
    margin: -10px 0 0;
    letter-spacing: -2px;
}

#front {
    margin: 70px auto;
    text-align: center;
}

#pic {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    margin: 0 auto;
}

#intro {
    width: 730px;
    margin: 20px auto;
    text-align: left;
}

#intro ul,
#nav ul {
    list-style: none;
    margin: 0 40px 0 0;
    text-align: right;
    width: 220px;
    float: left;
    padding: 25px 40px 10px 0;
}

#intro ul li {
    padding: 6px 0;
}

#intro ul li a,
#nav ul li a {
    font-family: 'Bitter', 'serif';
}
#intro ul li a {
    font-size: 28px;
    width: 200px;
}

#intro-text {
    padding: 5px 0;
    border-left: 1px solid #4DBDC8;
    margin-left: 260px;
}

#intro p {
    color: #e1e1e1;
    font-size: 1.2em;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin: 0.8em 0;
}
strong {
    font-weight: 700;
}

a, a:link, a:visited, a:active {
    color: #edc951;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


body.page {
    background-image: none;
    background-color: #fff;
}

#nav {
    background: url('/img/home_bg.png') repeat-x 0 -387px #00a0b0;
}

#nav #pic {
    width: 100px;
    height: 100px;
    padding: 5px;
    float: left;
    margin: 0 20px 0 0;
}

#top {
    width: 500px;
    margin: 0 auto;
    height: 110px;
    padding: 20px 0;
}

#top h1 {
    font-size: 55px;
    padding-top: 5px;
}

#top a:hover {
    text-decoration: none;
}

#top h2 {
    font-size: 31px;
}

#menu {
    height: 25px;
    padding: 20px 0;
    background: url('/img/navbg.png') #6a4a3c;
    width: 100%;
}

#nav ul {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 0;
    float: none;
}

#nav ul li a {
    font-size: 21px;
    padding: 0 30px;
    display: block;
    height: 59px;
    float: left;
}
body.about #nav a.about,
body.taolg #nav a.taolg {
    background: url('/img/caret.png') no-repeat center bottom transparent;
}

#main {
    width: 800px;
    margin: 0 auto 100px;
    font-size: 1.2em;
    line-height: 1.5em;
}

h1#title {
    font-size: 2.3em;
    padding: 35px 0 10px;
}

#main a,
#main a:link,
#main a:active,
#main a:visited {
    color: #cc333f;
}

#main p {
    margin: 1em 0;
}

#main h4 {
    color: #6a4a3c;
}

@media screen and (max-width: 960px) {
    #main {
        width: 90%;
    }
}

@media screen and (max-width: 720px) {
    #top {
        height: auto;
        width: 95%;
        text-align: center;
    }
    #top #pic {
        float: none;
        margin: 10px auto;
    }
    #top h1 {
        font-size: 40px;
    }

    #nav ul li a {
        float: none;
        text-align: left;
        height: 30px;
        background-image: none;
    }
    #menu {
        height: auto;
    }

}
