{{ template "partials/header.html" . }}
<body lang="en" class="page {{ .Params.navclass }}">
{{ template "partials/nav.html" . }}
<div id="main-wrap">
    <section id="main">
        <article id="content">
            <h1 id="title">{{ .Title }}</h1>
            <div class="post-meta">
              {{ dateFormat .Site.Params.DateForm .Date }}
              <span class="post-tags">Tags:
                {{ delimit (apply .Params.tags "partial" "tag-link" ".") ", " }}
              </span>
            </div>

            {{ .Content }}
        </article>
    </section>
    <section class="comments">
      {{ template "_internal/disqus.html" . }}
    </section>
</div>
{{ template "partials/footer.html" . }}
