<div id="nav">
    <div id="top">
        <div id="pic">
            <a href="{{ .Site.BaseUrl }}">
                <img src="{{ .Site.BaseUrl }}/img/chloe100.jpg" alt="Chloe Banks">
            </a>
        </div>
        <a href="{{ .Site.BaseUrl }}"><h1>Chloe Banks</h1></a>
        <h2>Day-dreamer and novelist.</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a class="about" href="{{ .Site.BaseUrl }}/about/">About</a></li>
            <li><a class="taolg" href="{{ .Site.BaseUrl }}/the-art-of-letting-go/">The Art of Letting Go</a></li>
            <li><a href="http://madebythepotter.blogspot.com">Blog</a></li>
            <li><a href="https://twitter.com/chloetellstales">Twitter</a></li>
        </ul>
    </div>
</div>