<div id="nav">
    <div id="top">
        <div id="pic">
            <a href="/">
                <img src="/img/chloe200.jpg" alt="Chloe Banks">
            </a>
        </div>
        <a href="/">
            <h1>Chloe Banks</h1>
        </a>
        <h2>Storyteller</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a class="about" href="/about/">About</a></li>
            <li><a class="news" href="/posts/">News</a></li>
            <li><a class="books" href="/books/">Books</a></li>
            <li><a class="scripts" href="/scripts/">Scripts</a></li>
            <li><a class="contact" href="/contact/">Contact</a></li>
        </ul>
    </div>
</div>