<div id="nav">
    <div id="top">
        <div id="pic">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}img/chloe200.jpg" alt="Chloe Banks">
            </a>
        </div>
        <a href="{{ .Site.BaseURL }}">
            <h1>Chloe Banks</h1>
        </a>
        <h2>Day-dreamer and writer.</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a class="about" href="{{ .Site.BaseURL }}about/">About</a></li>
            <li><a class="taolg" href="{{ .Site.BaseURL }}the-art-of-letting-go/">The Art of Letting Go</a></li>
            <li><a class="blog" href="{{ .Site.BaseURL }}posts/">Blog</a></li>
            <li><a href="https://twitter.com/chloetellstales">Twitter</a></li>
        </ul>
    </div>
</div>