{{ template "partials/header.html" . }}

<body lang="en" class="home-page">
    <section id="front">
        <div id="pic">
            <img src="{{ .Site.BaseURL }}/img/chloe400.jpg" alt="Chloe Banks">
        </div>
        <h1>Chloe Banks</h1>
        <h2>Storyteller</h2>
        <div id="intro">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/posts/">News</a></li>
                <li><a href="/books/">Books</a></li>
                <li><a href="/scripts/">Scripts</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <div id="intro-text">
                <br />
                <br />
                <p>
                    <strong>Hello!</strong>
                </p>
                <p>
                    Chloe Banks is a teller of tales &mdash; some short, some long, and some prize-winning.
                </p>
                <p>
                    Please take a look around the site and feel free to get in touch via
                    <a href="https://twitter.com/chloetellstales">twitter</a> or by
                    <a href="mailto:hellochloe@chloebanks.co.uk">e-mail</a>.
                </p>
                <br />
                <br />
            </div>
        </div>
    </section>
    {{ template "partials/footer.html" . }}