{{ template "partials/header.html" . }}
<body lang="en" class="page blog">
{{ template "partials/nav.html" . }}
<div id="main-wrap">
    <section id="main">
        {{ $pages := (where .Data.Pages "Type" "posts") }}
        {{ $numPages := len $pages }}
        {{ range first 5 $pages }}
            {{ .Render "summary" }}
        {{ end }}
        <div class="posts-archive-link">
          <a href="{{ .Site.BaseURL }}/posts/archive/">
            Older Posts &raquo;
          </a>
        </div>
    </section>
</div>
{{ template "partials/footer.html" . }}
